<main class="pd-home">

    <div class="pd-home-main-content">
      <div class="max-container profile-header">
        <section class="intro-1">
          <h1> Myself Kavimani. I'm a course completed physiotherapist specialized in Home care physiotheraphy and Rehabilition </h1>
          <div class="btn-container">
            <a [routerLink]="'/'" class="treaments-link" fragment="treatments">Treatments Provided</a>
            <a [routerLink]="'/about'" class="treaments-link">More About Me</a>
          </div>
        </section>
        <section class="image-section">
          <img class="profile-image" [src]="'assets/my_image.jpeg'">
        </section>
      </div>
    </div>

    <div class="max-container">
          <div class="container-3" id="treatments">
            <p class="fancy" >Treatments Provided</p>
              <app-service-info></app-service-info>
          </div>
      
          <div class="container-4" id="bookAppointment">
            <p class="fancy">Book Appointment</p>
            <app-pd-appointment></app-pd-appointment>
          </div>

    </div>
   
</main>

