.pd-home {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    // max-width: 1200px;
    margin-inline: auto;
    // margin-block: 40px;

    .pd-home-main-content {
        background-color: var(--color-primary);
        .max-container.profile-header {
            max-width: 1200px;
            display: flex;
            color: white;
            padding: 40px;
            flex-wrap: wrap;

            .treaments-link {
                text-decoration: none;
                padding-inline: 16px;
                background-color: crimson;
                color: white;
                border-radius: 4px;
                padding-block: 8px;
                white-space: nowrap;
                &:last-child {
                    margin-left: 16px;
                }
            }
    
            .intro-1 {
                display: grid;
                place-items: center;
                margin-block: auto;
                padding: 40px;
                text-align: center;
                flex: 0.7;
            }
    
    
            .image-section {
                object-fit: cover;
                height: 350px;
                flex: 0.3;
                .profile-image {
                    border-radius: 50% 16% 50% 16%;
                    height: 100%;
                }
            }
        }
    }

    @media(width < 760px) {
        .profile-header {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    .max-container {
        max-width: 1200px;
        margin-inline: auto;
        padding-inline: 40px;
    }
    .container-2 {
        height: 400px;
        text-align: center;
    display: grid;
    place-items: center;
    align-content: space-evenly;
    color: white;

    }

    .container-4 {
        padding: 40px;
        color: white;
        border-radius: 12px;

        border-image: linear-gradient(
            45deg,
            #12c2e9,
            #c471ed,
            #f64f59
        );

        
    }
}