.pd-service-info-container {

    .mat-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5rem;
    
        .mat-mdc-card {
            // border-radius: ;
            border-radius: 12px;
            max-width: 500px;
            position: relative;

            .mat-mdc-card-header {
                padding: 16px;
                text-transform: uppercase;
 
                border-radius: inherit;
                border-bottom-left-radius: unset;
                border-bottom-right-radius: unset;
                justify-content: center;

                .mat-mdc-card-title {
                    text-transform: uppercase;
                }
                
            }

            .mat-mdc-card-content {
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 18px;
 
                flex: 1;
                text-align: justify;
            }

            .mdc-card__actions {
                margin-top: auto;
                margin-inline: auto;
                padding-block: 16px;
 
                width: 100%;
                border-bottom-left-radius: inherit;
                border-bottom-right-radius: inherit;
                justify-content: center;
                .appointment-link {
                    font-size: 14px;
                    text-transform: uppercase;
     

                }
            }

            &::before {
                content: '';
                position: absolute;
                inset: -.5rem;
                z-index: -1;
                background:  linear-gradient(
                    45deg,
                    #12c2e9,
                    #c471ed,
                    var(--color-primary)
                    );
                border-radius: inherit;
                
            }
        }
    }
}