<header class="pd-toolbar">
    <div class="pd-doc-title" [routerLink]="'/'">
        <img src="../../../favicon.ico">
        <span>Physio Doc</span>
    </div>
    <mat-icon fontIcon="menu" class="pd-ham-icon" (click)="onIconClick()" [class.expanded]="canDisplayMenu"></mat-icon>
    <nav>
        <ul class="pd-primary-nav" [class.show-nav]="canDisplayMenu">            
            
            <li>
                <!-- <button mat-flat-button class="mat-flat-button" color="primary" (click)="navigate()"> Book Appointment</button> -->
                <a [routerLink]="'/'" class="appointment-link" fragment="bookAppointment">Book Appointment</a>
            </li>
        </ul>
    </nav>
</header>