<div class="pd-appointment-container">
    <header>
        <p>Please explain your problem in concise manner. We'll reach out to you as soon as possible.</p>
    </header>
    
    <form class="form-content" [formGroup]="appointmentForm">
        <mat-form-field class="pd-form-field">
            <input formControlName="name" matInput placeholder="Full Name">
            <mat-icon matPrefix >perm_identity</mat-icon>
        </mat-form-field>

        <mat-form-field class="pd-form-field">
            <input formControlName="phone" type="number"  matInput placeholder="Phone Number">
            <mat-icon matPrefix >phone</mat-icon>
        </mat-form-field>


        <mat-form-field class="pd-form-field">
            <input formControlName="email" type="email"  matInput placeholder="Email">
            <mat-icon matPrefix>mail</mat-icon>
        </mat-form-field>

        <mat-form-field class="pd-form-field">
            <mat-select formControlName="serviceReqd">
                <mat-option value="0">--Select--</mat-option>
                <mat-option *ngFor="let service of servicesOffered" [value]="service.code">
                    {{service.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="pd-form-field" (click)="dp3.open()" >
            <input readonly formControlName="doA" matInput [matDatepicker]="dp3">
            <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>


        <div class="message-field">
            <p class="mandatory" *ngIf="appointmentForm.controls.serviceReqd.value=== '999'">
                Please provide detailed information of the issue <sup>*</sup>
            </p>
            <mat-form-field class="pd-form-field">
                <textarea formControlName="message" matInput placeholder="Type Your Issue..."></textarea>
            </mat-form-field>
        </div>

        <div class="form-actions">
            <button mat-raised-button class="mat-raised-button book-apt" color="primary" [disabled]="appointmentForm.invalid" >Book Now</button>
            <button mat-raised-button class="mat-raised-button book-apt" color="secondary" (click)="appointmentForm.reset({serviceReqd: '0'})">Clear All</button>

        </div>



    </form>
    
</div>
