.first-div {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;

    .pd-main {
        
        background-color: cornflowerblue;
    }

    // header {
    //     position: fixed;
    // }
}