<div class="main-footer">
    <div>
        <h1>Physio Doc</h1>
        <div>
            <h3>KAVI MANI B, PHYSIOTHERAPIST</h3> 
        </div>

    </div>
    <div>
        <h3>LOCATION</h3>
        <p>Nandhavana Mettur, Avadi, Chennai</p>
    </div>
    <div>
        <h3>CONTACTS</h3>
        <div class="contact-container">
            <label>EMAIL</label>
            <span>kavimani@gmail.com</span>
        </div>

        <div class="contact-container">
            <label>MOBILE</label>
            <span>9876543210</span>
        </div>
       


    </div>
</div>