/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

$my-typography: mat.define-typography-config(
    $font-family: 'Fredoka'
);
@include mat.typography-hierarchy($my-typography);

@include mat.button-typography($my-typography);


// $my-primary: mat-palette($mat-teal, 900);


// $my-theme: mat.define-light-theme((
//    color: (
//      primary: $my-primary,
//      accent: #fff
//    )
//   ));

//   @include mat.all-component-themes($my-theme);

html, body { height: 100%; scroll-behavior: smooth;
    scroll-padding-top: 12px;

    // background-image: linear-gradient(
    //     180deg,
    //     #12c2e9,
    //     #c471ed,
    //     #f64f59
    // );
    // color: white;

    .fancy {

        background-image: linear-gradient(
            45deg,
            #12c2e9,
            #c471ed,
            #f64f59
        );

        --b: 6px;   /* control the border thickness */
        --w: 80px;  /* control the width of the line*/
        --g: 15px;  /* control the gap */
        --c: burlywood;
        text-transform: uppercase;

        height: 36px;
        text-align: center;
        margin-block: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-block: 40px;
        font-size: 20px;
        border-radius: 12px;
       
        // border: 1px solid;
        // // background: 
        // //   conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
        // //   conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
        // background-size: 51% 100%;
        // background-origin: border-box;
        // background-repeat: no-repeat;
        // border-image: 
        //    linear-gradient(
        //      #0000      calc(50% - var(--b)/2),
        //      var(--c) 0 calc(50% + var(--b)/2),
        //      #0000    0) 
        //   1/0 var(--w)/calc(var(--w) + var(--g));
      }


}

body { margin: 0;

    h1 { font-size: 2em;  /* 16x2=32 */ } 
    h2 { font-size: 1.5em;   /* 16x1.5=24 */ } 
    h3 { font-size: 1.125em; /* 16x1.125=18 */ } 
    h4 { font-size: 0.875em; /* 16x0.875=14 */ } 


    .pd-form-field {
        .mat-mdc-text-field-wrapper {
            border: 1px solid gray;
            border-radius: 8px;
        }
        .mdc-line-ripple {
            display: none;
        }

        .mat-mdc-form-field-focus-overlay {
            background-color: unset;
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: white;
        }
    }

    .mdc-button {
        background-color: crimson !important;
    }

}

$primary: #0A1D56;



