/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$pink-palette),
   accent: mat.define-palette(mat.$blue-grey-palette),
 ),
  typography: mat.define-typography-config(
    $font-family: 'Fredoka'
  ),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
 color: (
   primary: mat.define-palette(mat.$pink-palette, 900),
   accent: mat.define-palette(mat.$pink-palette, 900),
 ),
));

$tst-typo: mat.define-typography-config(
    $font-family: 'Fredoka'
);

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);

// Apply the light theme only when the user prefers light themes.
@media (prefers-color-scheme: light) {
 // Use the `-color` mixins to only apply color styles without reapplying the same
 // typography and density styles.
 @include mat.core-color($light-theme);
 @include mat.button-color($light-theme);
}

@include mat.all-component-themes($light-theme);
@include mat.all-component-typographies($tst-typo);


html, body { height: 100%; scroll-behavior: smooth;
    scroll-padding-top: 24px;

    //6c244c
    //--color-primary: #6c244c;
    --color-primary: #100446;
    .fancy {

        background-color: var(--color-primary);
        --b: 6px;   /* control the border thickness */
        --w: 80px;  /* control the width of the line*/
        --g: 15px;  /* control the gap */
        --c: burlywood;
        text-transform: uppercase;

        height: 70px;
        text-align: center;
        margin-block: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        margin-block: 40px;
        font-size: 20px;
        border-radius: 12px;
      }


}

body { margin: 0;

    h1 { font-size: 2em;  /* 16x2=32 */ } 
    h2 { font-size: 1.5em;   /* 16x1.5=24 */ } 
    h3 { font-size: 1.125em; /* 16x1.125=18 */ } 
    h4 { font-size: 0.875em; /* 16x0.875=14 */ } 


    .pd-form-field {
        .mat-mdc-text-field-wrapper {
            border: 1px solid gray;
            border-radius: 8px;
        }
        .mdc-line-ripple {
            display: none;
        }

        .mat-mdc-form-field-focus-overlay {
            background-color: unset;
        }

        .mdc-text-field--filled:not(.mdc-text-field--disabled) {
            background-color: white;
        }
    }

}


